  .yt-sub-btn {
    background-color: rgb(217, 26, 26);
    border: 0px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
    transition: opacity .3s;
    padding: 10px 20px;
    }
  .yt-sub-btn:hover{
    background-color: rgb(172, 46, 46);
    color: white;
  }
  .yt-sub-btn:active{
    opacity: .6;
  }
  .join-btn {
    background: white;
    color: blue;
    border: 1px;
    border-radius: 2px;
    border-color: blue;
    border-style: solid;
    cursor: pointer;
    transition: opacity .3s;
    padding: 10px 15px;
  }
  .join-btn:hover{
    background-color: blue;
    color: white;
  }
  .join-btn:active{
    opacity: .6;
  }
  .tweet-btn{
    color: white;
    border-style: solid;
    border: 1px;
    background-color: rgb(10, 160, 224);
    border-radius: 15px;
    cursor: pointer;
    font-weight: border;
    transition: opacity .3s;
    padding: 7px 15px;
    }
  .tweet-btn:hover{
    background-color: white;
    color: rgb(10, 160, 224);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.182);
  }
  .tweet-btn:active{
    opacity: .6;
  }