@import url("https://fonts.googleapis.com/css2?family=outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "outfit", sans-serif;
  background-color: hsl(203, 50%, 14%);
}
.container {
  display: flex;
  text-align: center;
  height: 75vh;
  width: 75vw;
  justify-content: center;
  margin-left: 10rem;
  margin-top: 5rem;
}
.e_component {
  background-color: hsl(200, 80%, 15%);
  border-radius: 10px;
  padding: 20px;
  height: 75%;
  width: 25%;
}
.e_img {
  border-radius: 10px;
  object-fit: cover;
  height: 55%;
  width: 100%;
}
.img {
  border-radius: 10px;
  object-fit: cover;
  height: 90%;
  width: 100%;
}
.heading {
  color: white;
  text-align: left;
  font-weight: bold;
}
.paragraph {
  color: hsl(201, 88%, 33%);
  text-align: left;
  margin-top: 10px;
}

.sideways_text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.sideways_text > .ETH {
  color: aqua;
}
.sideways_text > .days {
  color: rgb(19, 75, 88);
}
.status_img {
  display: flex;
  margin-top: 10px;
}
.img2 {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  border-style: solid;
  border-color: aqua;
}
.last_text {
  margin-top: 13px;
  color: antiquewhite;
  margin-left: 20px;
}